<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="display">
            <img src="<%= "/header/#{@user.header_name}" %>">
        </div>
        <div class="undericon">
            <div class="icon_space"></div>
            <div class="header_icon move">
                <i>ツイート<br></i>
                <a><%= link_to(@tweet_count, "/mypage/#{@user.id}/#{@user.login_id}") %></a>
            </div>
            <div class="header_icon active">
                <i>フォロー<br></i>
                <a><%= @following_count %></a>
            </div>
            <div class="header_icon move">
                <i>フォロワー<br></i>
                <a><%= @followed_count %></a>
            </div>
            <div class="header_icon move">
                <i>いいね<br></i>
                <a><%= @like_count %></a>
            </div>
        </div>
        
        
        <div id="wrapper">
            <% if @current_user.id == @user.id %>
                    <a class="link_profile" href="/edit/<%= @user.id %>">プロフィールを編集</a>
            <% else %>
                <% if Follow.find_by(following_id: @current_user.id, followed_id: @user.id) %>
                    <%= link_to("/follow/destroy/#{@user.id}", {method: "post"}) do %>
                        <a class="link_profile">フォロー解除</a>
                    <% end %>
                <% else %>    
                    <%= link_to("/follow/#{@user.id}",{method: "post"}) do %>
                        <a class="link_profile">フォローする</a>
                    <% end %>
                <% end %>
            <% end %>
            
            <!-- 左カラム　開始 -->
            <div id="leftColumn_mypage" class="icon">
                <img src="<%= "/icon/#{@user.icon_name}" %>"><br>
                <font size="5"><b><%= @user.name %></b></font><br>
                <font size="2">@<%= @user.login_id %></font><br>
                <font size="2"><%= @user.profile %></font><br>
                <font size="2"><%= createuser_time(@user[:created_at]) %></font>
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn_mypage">
                <% @user.followings.each do |following| %>
                    <% if following.following_id != following.followed_id%>
                        <div class="person">
                            <div class="person-header">
                                <img src="<%= "/header/#{following.followed_user.header_name}" %>">
                            </div>
                            <div class="person-icon">
                                <img src="<%= "/icon/#{following.followed_user.icon_name}" %>">
                            </div>
                            <div class="person-contents">
                                <a class="person-name"><b><%= following.followed_user.name %></b></a>
                                <a class="person-id">@<%= following.followed_user.login_id %></a><br>
                                <div class="person-profile">
                                    <p><%= following.followed_user.profile %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            
            </div>
            <!-- 右カラム　終了 -->

        </div>
    </body>


