<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <div class="display">
            <img src="<%= "/header/#{@user.header_name}" %>">
        </div>
        <div class="undericon">
            <div class="icon_space">
            
            </div>
            <div class="header_icon active">
                <i>ツイート<br></i>
                <a><%= @tweet_count %></a>
            </div>
            <div class="header_icon move">
                <i>フォロー<br></i>
                <a><%= link_to(@following_count, "/following/#{@user.id}") %></a>
            </div>
            <div class="header_icon move">
                <i>フォロワー<br></i>
                <a><%= link_to(@followed_count, "/followed/#{@user.id}") %></a>
            </div>
            <div class="header_icon move">
                <i>いいね<br></i>
                <a><%= link_to(@like_count, "/likes/#{@user.id}") %></a>
            </div>
        </div>
        
        
        <div id="wrapper">
            <% if @current_user.id == @user.id %>
                    <a class="link_profile" href="/edit/<%= @user.id %>">プロフィールを編集</a>
            <% else %>
                <% if Follow.find_by(following_id: @current_user.id, followed_id: @user.id) %>
                    <%= link_to("/follow/destroy/#{@user.id}", {method: "post"}) do %>
                        <a class="link_profile">フォロー解除</a>
                    <% end %>
                <% else %>    
                    <%= link_to("/follow/#{@user.id}",{method: "post"}) do %>
                        <a class="link_profile">フォローする</a>
                    <% end %>
                <% end %>
            <% end %>
            
            <!-- 左カラム　開始 -->
            <div id="leftColumn_mypage" class="icon">
                <img src="<%= "/icon/#{@user.icon_name}" %>"><br>
                <a><font size="5"><b><%= link_to(@user.name,"/mypage/#{@user.id}/#{@user.login_id}") %></b></font></a><br>
                <font size="2">@<a><%= link_to(@user.login_id,"/mypage/#{@user.id}/#{@user.login_id}") %></a></font><br>
                <font size="2"><%= @user.profile %></font><br>
                <font size="2" color="gray"><%= createuser_time(@user[:created_at]) %></font>
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn_mypage">
                <% @user.tweets.each do |tweet| %>
                    <div class="posts-index-item">
                        <div class="post-left">
                            <img src="<%= "/icon/#{tweet.user.icon_name}" %>">
                        </div>
                        <div class="post-right">
                            <div class="post-user-name">
                                <a><%= link_to(tweet.user.name, "/mypage/#{tweet.user.id}/#{tweet.user.login_id}") %></a>
                                <font size="2">@<%= tweet.user.login_id %></font><br>
                            </div>
                            <div class="post-content">
                                <a><%= link_to(tweet.content, "/show/#{tweet.id}") %></a>
                            </div>
                        </div>
                    </div>
                <% end %>
            
            </div>
            <!-- 右カラム　終了 -->

        </div>
    </body>


