<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="header">
      <% if @current_user == nil %>
        <div class="app_header">
          <div class="app_header_right">
            <i><%= link_to("ログイン", "/login") %></i>
          </div>
        </div>
      <% else %>
        <div class="app_header">
          <div class="app_header_left">
            <div class="app_header_icon">
              <a href="/timeline"><span class="fa fa-home"></span>ホーム</a>
            </div>
          </div>
          <div class="app_header_right">
          <%= link_to("/mypage/#{@current_user.id}/#{@current_user.login_id}") do %>
            <img src="<%= "/icon/#{@current_user.icon_name}" %>">
          <% end %>
          <%= link_to("/tweets/new") do %>
            <span class="fa fa-edit write"></span>
          <% end %>
          <i><%= link_to("ログアウト", "/logout", {method: :post}) %></i>
          </div>
        </div>
      <% end %>
      
    </div>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>
    <% if flash[:notice] %>
      <div id="notice" class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  
    <%= yield %>
  </body>
  
  <script>
    let x = document.getElementById('notice');
    x.classList.add('fadeOut');
    x.addEventListener('animationend', function() {
      this.classList.add('ended');
    });
  
  </script>
</html>
